extends layout

block content
    h1 Partida: #{descripcion}
    
    div(class="row")
        div(class="col-md-12 col-xs-12")
            each j in jugadores
                div(class="jugador")           
                    div(class="col-md-8")
                        div(class="row")
                            div(class="col-md-4 col-xs-4")
                                img(class="img-thumbnail", src="#{j.imagenUrl}", width="100px" )

                             div(class="col-md-8 col-xs-8")
                                div(class="row")
                                    div(class="col-md-12")
                                        span(class="")
                                            strong #{j.nombre}
                                    div(class="col-md-12")
                                        div(class="col-md-6 col-xs-6 totales")
                                            h3 <em>#{j.puntos}</em>
                                        div(class="col-md-6 col-xs-6 ")
                                                div(class="col-md-12 correctas")
                                                    i(class="fa fa-check") 
                                                    span &nbsp;#{j.cantidadPreguntasCorrectas}
                                                div(class="col-md-12 erroneas")
                                                    i(class="fa fa-times") 
                                                    span &nbsp;#{j.cantidadPreguntasErroneas}
                                                